@mixin carousel-carousel-default-mixin($control-color) {
  .carousel-default {
    .carousel-control {
      color: $control-color;

      &.right,
      &.left {
        background: transparent;
      }
    }

    .carousel-indicators {
      li {
        border-color: $control-color;
      }

      .active {
        background-color: $control-color;
      }
    }
  }
}


@mixin carousel-carousel-thumbnail-mixin($control-color) {
  .carousel-thumbnail {
    .carousel-control {
      color: $control-color;

      &.right,
      &.left {
        background: transparent;
      }
    }

    .carousel-indicators {
      li {
        border-color: $control-color;
      }

      .active {
        background-color: $control-color;
      }
    }
  }
}

@mixin carousel-grid-mixin($control-color) {
  $break-small: 1199px;

  .carousel-grid {
    .carousel-control {
      color: $control-color;

      &.right,
      &.left {
        background: transparent;
      }
    }

    .carousel-inner {
      min-height: 500px;
      height: 500px;
      position: relative;
      transform-style: preserve-3d;

      .item {
        height: 500px;
        position: relative;
        transform-style: preserve-3d;

        img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    @media screen and (max-width:$break-small) {
      .carousel-inner {
        min-height: 400px;
        height: 400px;

        .item {
          height: 400px;
        }
      }
    }
  }
}
