
.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn-primary-outline {
  @include button-variant($btn-primary-border, #fff, $btn-primary-border);
}

.btn-secondary-outline {
  @include button-variant($btn-secondary-border, #fff, $btn-secondary-border);
}


//Button upload
@mixin upload-custom-mixin($color) {
  .upload {
    label {
      border: 1px solid $color;
      color: $color;
      margin-bottom: 0;

      .form-group {
        display: none;
      }
    }

    input {
      text-align: center;
      visibility: hidden;
      border: 0;
      font-size: 12px;
      background: transparent;
    }

    .form-control {
      display: none;
    }
  }
}
