@mixin radiobutton-custom-mixin($color, $display) {
  .radiobutton-custom {

    .form-group {
      margin-top: 10px;
      margin-bottom: 10px;

      .control-label {
        margin-right: 10px;
        margin-bottom: 10px;
        font-weight: normal;
      }

      label {
        color: $color;
        line-height: 1;
      }

      .radio-inline {

        @if $display == 'list' {
          display: block;
          margin-left: 0;
          margin-bottom: 10px;

          .control-label & {
            margin-top: 10px;
          }
        } @else {
          display: inline-block;
        }
      }

      .radio-inline [type=radio] {
        visibility: hidden;
      }

      .radio-inline::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid $color;
        border-radius: 50%;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }

  .radio-check::after {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    background: $color;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    z-index: 1;
  }
}
