<div class="block-landscape hidden">
  <p>Para una mejor navegabilidad la versión <strong>panorámica</strong> esta desactivada.</p>
  <small>Ponga el teléfono en vertical</small>
  <%= fa_icon "mobile" %>
</div>
