<footer class="footer">
  <div class="container">
    <div class="col-xs-12 col-sm-6">
      <div class="logo-image">
        <%= image_tag ("logo-default.png") %>
      </div>
      <%=link_to  'Desarrollo web a medida by Rockandror', 'http://www.rockandror.com', target: 'blank', title: 'Desarrollo web a medida Ruby on Rails by Rockandror'%>
    </div>
    <div class="col-xs-12 col-sm-6 text-right">
      <%=link_to 'Designed by Freepik', 'http://www.freepik.com', target: 'blank' %>
    </div>
  </div>
</footer>
