<nav class="navbar navbar-default navbar-fixed-top navbar-header-effect">
    <div class="container">
      <div class="navbar-header">
      
        <%= link_to root_path, class: 'navbar-brand' do %>
          <div class="logo-text">
            <span>ReisMags</span>
          </div>

        <% end %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      </div><!--/.nav-collapse -->
    </div>
  </nav>
