<div id="home-page" class="page">
  <div class="container">
    <div class="starter-template">
      <h1><%= t "home.title" %></h1>
      <p class="lead"><%= t "home.description" %></p>
    </div>
  </div>
</div>
