@import 'bootstrap_and_overrides';

body {
  // //Nprogress : Color and height bar
  @include n-progress-mixin($brand-primary, 5px);
  //Nabvbar
  @include bootstrap-navbar-mixin(#fff, #f2f2f2);
  //Flag - vertical horizontal - width - height
  @include flags-mixin('horizontal', 30px, 30px);
  // //Cookie consent
  @include cookies-eu-custom-style-mixin(fixed, $brand-primary);
  // // Data picker
  @include datepicker-custom-style-mixin(500px, false, #fff);
  // //Time picker Icons
  @include bootstrap-timepicker-widget-mixin($brand-primary);
  // // Data picker and Time picker Icons
  @include datepicker-timepicker-input-icon-mixin($brand-primary, true, '\f073', '\f017');
  // //Bootstrao select
  @include bootstrap-select-mixin($brand-primary);
  // //Color picker
  @include minicolors-mixin($brand-primary, true, '\f1fb');
  // //Icons Svg
  @include icon-svg-mixin(30px, 30px, $brand-primary);
  // //button Uplaod - move into button
  @include upload-custom-mixin($brand-primary);
  // //Checkbox
  @include checkbox-custom-mixin();
  // //Radio button
  @include radiobutton-custom-mixin($brand-primary, 'list');
  // //Slider
  @include slider-custom-style-mixin($brand-primary, #f5f5f5, #4dd307, #d19309, $brand-secondary);
  // //Bootstrao Caraousel default
  @include carousel-carousel-default-mixin($brand-primary);
  // //Bootstrap Carousel Thumbnail
  @include carousel-carousel-thumbnail-mixin($brand-primary);
  // //Bootstrap Carousel Grid
  @include carousel-grid-mixin($brand-primary);
  // //Bootstrap toggle
  @include bootstrap-toggle-mixin();
  //Scroll top - Align BR bottom right, background color, width height icon
  @include go-to-top-mixin('BR', #fff,  60px, 60px);

  //Footer : Background color \ Padding ( The color of the text changes dynamically based on the background color )
  @include footer-mixin($gray-base, 3em 0em);

  //Override bootstrap - move
  a:focus,
  .btn:focus {
    outline: 0;
  }

  .btn {
    &:hover {
      border: 1px solid transparent;
    }
  }
}

html, body {
  height: 100%;
}

body {
  color: #333;
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//This is for a stiky footer - Push down without height !
.page-wrap {
  flex: 1 0 auto;
}
