@mixin n-progress-mixin(){
  .overlay-nprogress{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 9999;
    background: white;
    opacity: 0.8;
  }
  #nprogress{
    .bar{
      background:$brand-primary;
    }
    .spinner{
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 9999;
    }
    .spinner-icon{
      border-top-color: $brand-primary;
      border-left-color: $brand-primary;
    }
  }
}
.n-progress {
  @include n-progress-mixin();
}

@mixin block-landscape(){
  display: block;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  background: $brand-primary;
  z-index: 99;
  p,i,small{
    position: absolute;
    left:0;
    right:0;
    top:40%;
    color:white;
    text-align: center;
    font-size: 1.3em;
  }
  small{
    top:60%;
  }
  i{
    top:70%;
    font-size: 3.3em;
  }
}
.block-landscape{
  @include block-landscape();
}

@mixin cookies-eu-custom-style($position){
  .cookies-eu{
    position: $position;
    left:0;
    right:0;
    background: $brand-primary;
    bottom: 0;
    padding: 2em;
    color: white;
    .cookies-eu-button-holder{
      display: block;
      margin-top:1em;
      button{
        border:1px solid white;
        background: transparent;
        border-radius:4px;
        padding:0.5em 1em;
      }
      a{
        margin-left: 1em;
        color:white;
      }
    }
  }
}

@mixin datapicker-custom-style($width,$border, $textColor){
  .datepicker-dropdown{
    @if $border == true {
      border:1px solid $brand-primary;
    }
    .table-condensed{
      width: $width;
      text-align: center;
      .prev,
      .datepicker-switch,
      .next,
      .dow{
        text-align: center;
      }
      .active{
        background: $brand-primary;
        color:$textColor;
      }
      .prev,.next{
        color: $brand-primary;
      }
    }
  }
}
